body { 
	font-family: 'Arial', 'Helvetica Neue', 
	Helvetica, sans-serif;
	background-image: url("http://i.imgur.com/HRhTOIt.png");
}

p {
	color: #777777;
}
	
#about {
	background-color :#ffffff;
	color:#4aaaa5;
	width: 650px;

				
}


h1 {
	background-color: #4aaaa5;
	color: white;
}


h2 { 
	color: #4aaaa5;
	background-color: white;
}

header {
	background-color: #ffffff;
	border-bottom-style: solid;
	border-color: #cccccc;
	width: 100%;
	height: 100px;
	z-index: 0;
	position: relative;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	border-top: 0;
	top: -9px;
	right: 8px;

}

#hover {
	z-index: 5;
	height: 20px;
	background-color: #4aaaa5;
	color: #ffffff;
	top:10px;
	left: 110px;
	position: absolute
	text-align: center;
	font-family: 'Georgia', Times, 
	Times New Roman, serif;
	font-size: 2em;
	border: 0;
	width: 250px;
	margin-top: 0;
	margin-left: 20;
	padding-top: 30px;


}



div {
	float: left;
  width: 650px;
	border-style: solid;
	border-width: 1px;
	border-color: #dddddd;
	background-color: #ffffff;
	padding: 50px 50px 50px 50px;
	margin-left: 100px;
	margin-top: 20px;

}
	
#connect {
	width: 270px;
	border-color: #dddddd;
	
}		

footer {
  background-color: #666666;
  position: relative;
  margin-top: 25px;
  bottom: 0;
  width: 100%;   
  height: 75px;
  line-height: 75px;
  color: white;
	border-top-style: solid;
	border-top-color: #4aaaa5;
	border-top-width: 20px;
	font-size: .7em;
	top: 528px;
	right: 8px;
	text-align: center;
}

#about {background:none;
    border:none;
    margin:0;
    padding:0;
    float: right;
    color: #777777;
		margin-right: 200px;
}

#portfolio {
	background:none;
    border:none;
    margin:0;
    padding:0;
    float: right;
		color: #777777;
		margin-right: 200px;
}

#contact {
	background:none;
    border:none;
    margin:0;
    padding:0;
    float: right;
		color: #777777;
		margin-right: 200px;
}